<div class="jumbotron">
<h1>Train Tracker</h1>
</div>
<h2>Welcome to Train Tracker, where you can track a train by it's id, or by the cities it stops it, or look up a train by cities.</h2>

<div class="" id="train_display">
  <h3> Here are the current trains in the system: <h3>
    <ul>
      <li>no trains yet.</li>
    </ul>
  <br>
  <a href="#" class="btn">Add a train!</a>
</div>
<br>
<div class="" id="city_display">
  <h3> Here are the current cities in the system: <h3>
    <ul>
      <li>no cties yet.</li>
    </ul>
  <br>
  <a href="#" class="btn">Add a city!</a>
</div>
