<h1>Add a Train</h1>
<form action="/" method="post">
  <label for="train_name">Add Train: </label>
  <input type="text" name="train_name" id="train_name">
  <button type="submit" name="btn-primary">Add Train</button>
</form>
